html 
{
    background-color: transparent;
}
.nav-active
{
    background-color: yellow;
    color: red;
    font-size: 1.3rem;
    border-radius: 1rem;
}
footer
{
    color: black;
    background-color: bisque;
}
nav
{
    background-color: bisque;
}